# [TheGarageV1]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [TheGarageV1]    Script Date: 4.02.2024 00:57:41 ******/
CREATE DATABASE [TheGarageV1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TheGarageV1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TheGarageV1.mdf' , SIZE = 262144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TheGarageV1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TheGarageV1_log.ldf' , SIZE = 262144KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
ALTER DATABASE [TheGarageV1] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TheGarageV1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [TheGarageV1] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [TheGarageV1] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [TheGarageV1] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [TheGarageV1] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [TheGarageV1] SET ARITHABORT OFF 
GO
ALTER DATABASE [TheGarageV1] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [TheGarageV1] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [TheGarageV1] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [TheGarageV1] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [TheGarageV1] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [TheGarageV1] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [TheGarageV1] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [TheGarageV1] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [TheGarageV1] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [TheGarageV1] SET  DISABLE_BROKER 
GO
ALTER DATABASE [TheGarageV1] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [TheGarageV1] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [TheGarageV1] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [TheGarageV1] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [TheGarageV1] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [TheGarageV1] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [TheGarageV1] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [TheGarageV1] SET RECOVERY FULL 
GO
ALTER DATABASE [TheGarageV1] SET  MULTI_USER 
GO
ALTER DATABASE [TheGarageV1] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [TheGarageV1] SET DB_CHAINING OFF 
GO
ALTER DATABASE [TheGarageV1] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [TheGarageV1] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [TheGarageV1] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [TheGarageV1] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
EXEC sys.sp_db_vardecimal_storage_format N'TheGarageV1', N'ON'
GO
ALTER DATABASE [TheGarageV1] SET QUERY_STORE = OFF
GO

# [dbo].[tblBalance]

In [0]:
USE [TheGarageV1]
GO

In [0]:
/****** Object:  Table [dbo].[tblBalance]    Script Date: 4.02.2024 00:57:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBalance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumOfVehicles] [int] NOT NULL,
	[Balance] [int] NOT NULL,
	[Date] [nvarchar](max) NOT NULL,
	[Location] [nvarchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[tblCars]

In [0]:
/****** Object:  Table [dbo].[tblCars]    Script Date: 4.02.2024 00:57:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCars](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumberPlate] [nvarchar](max) NOT NULL,
	[Date] [nvarchar](max) NOT NULL,
	[Tariff] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[tblLocation]

In [0]:
/****** Object:  Table [dbo].[tblLocation]    Script Date: 4.02.2024 00:57:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLocation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Location] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO

# [dbo].[tblUsers]

In [0]:
/****** Object:  Table [dbo].[tblUsers]    Script Date: 4.02.2024 00:57:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO

# [dbo].[tblBalance]

In [0]:
SET IDENTITY_INSERT [dbo].[tblBalance] ON 
INSERT [dbo].[tblBalance] ([Id], [NumOfVehicles], [Balance], [Date], [Location]) VALUES (3, 1, 50, N'16.12.2023', N'Istanbul')
INSERT [dbo].[tblBalance] ([Id], [NumOfVehicles], [Balance], [Date], [Location]) VALUES (2, 1, 1970, N'16.12.2023', N'Istanbul')
INSERT [dbo].[tblBalance] ([Id], [NumOfVehicles], [Balance], [Date], [Location]) VALUES (4, 1, 50, N'16.12.2023', N'Istanbul')
INSERT [dbo].[tblBalance] ([Id], [NumOfVehicles], [Balance], [Date], [Location]) VALUES (6, 1, 50, N'19.12.2023', N'Istanbul')
INSERT [dbo].[tblBalance] ([Id], [NumOfVehicles], [Balance], [Date], [Location]) VALUES (7, 1, 50, N'26.12.2023', N'Istanbul')
INSERT [dbo].[tblBalance] ([Id], [NumOfVehicles], [Balance], [Date], [Location]) VALUES (8, 1, 50, N'18.01.2024', N'Istanbul')
INSERT [dbo].[tblBalance] ([Id], [NumOfVehicles], [Balance], [Date], [Location]) VALUES (9, 1, 45, N'18.01.2024', N'Adana')
INSERT [dbo].[tblBalance] ([Id], [NumOfVehicles], [Balance], [Date], [Location]) VALUES (10, 1, 50, N'18.01.2024', N'Istanbul')
INSERT [dbo].[tblBalance] ([Id], [NumOfVehicles], [Balance], [Date], [Location]) VALUES (5, 1, 50, N'16.12.2023', N'Istanbul')
SET IDENTITY_INSERT [dbo].[tblBalance] OFF
GO

# [dbo].[tblCars]

In [0]:
SET IDENTITY_INSERT [dbo].[tblCars] ON 
INSERT [dbo].[tblCars] ([Id], [NumberPlate], [Date], [Tariff]) VALUES (16, N'34 FT 65', N'26.12.2023 09:33', N'Istanbul')
INSERT [dbo].[tblCars] ([Id], [NumberPlate], [Date], [Tariff]) VALUES (6, N'65 FY 01', N'12.12.2023 15:39', N'Adana')
SET IDENTITY_INSERT [dbo].[tblCars] OFF
GO

# [dbo].[tblLocation]

In [0]:
SET IDENTITY_INSERT [dbo].[tblLocation] ON 
INSERT [dbo].[tblLocation] ([Id], [Location]) VALUES (1, N'Istanbul')
INSERT [dbo].[tblLocation] ([Id], [Location]) VALUES (2, N'Van')
INSERT [dbo].[tblLocation] ([Id], [Location]) VALUES (3, N'Izmir')
INSERT [dbo].[tblLocation] ([Id], [Location]) VALUES (4, N'Adana')
INSERT [dbo].[tblLocation] ([Id], [Location]) VALUES (5, N'Antalya')
INSERT [dbo].[tblLocation] ([Id], [Location]) VALUES (6, N'Mugla')
INSERT [dbo].[tblLocation] ([Id], [Location]) VALUES (7, N'Bursa')
INSERT [dbo].[tblLocation] ([Id], [Location]) VALUES (8, N'Erzurum')
SET IDENTITY_INSERT [dbo].[tblLocation] OFF
GO

# [dbo].[tblUsers]

In [0]:
SET IDENTITY_INSERT [dbo].[tblUsers] ON 
INSERT [dbo].[tblUsers] ([Id], [Username], [Password]) VALUES (1, N'ferhat', N'123')
SET IDENTITY_INSERT [dbo].[tblUsers] OFF
GO

# [TheGarageV1]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [TheGarageV1] SET  READ_WRITE 
GO